// Import color variables
@import 'variables';

// Styling for "sticky footer"
html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

// Styling for Links
a {
	text-decoration: none;
	display: inline-block;
	color: $white;
}

// a:visited {
// 	color: #000;
// }

// Styling for the header
.header {
	text-align: center;
	background-color: $blue;
	padding: 1em;

	h1 {
		margin: 0;
	}	
}

// Styling for "back" buttons
.arrow {
	display: inline;
	color: $crumb;
	margin-left: 0.5em;
}

#breadcrumb {
	color: $crumb;
	padding: 0.5em;
	font-weight: bold;
	margin: 0.5em 0;
}

// Styling for album/photo titles
.title {
	text-align: center;
	margin-top: 0;
}

// Styling for home/albums component
.thumbContainer {
	text-align: center;
	padding-bottom: 6em;

	.thumb {
		display: inline-block;
	 	width: 90%;
	 	border: 2px solid $grey;
	 	box-sizing: border-box;
	 	margin: 1em 0;
	 	cursor: pointer;

	 	.thumbImgWrap {
	 		overflow: hidden;
	 		height: 250px;

			img {
				max-width: 400px;
			}

		}

		.thumbTitle {
			margin: 0;
			border-top: 2px solid $grey;
			padding: 1em;
			color: #000;
		}
	}
}

// Styling for big photo component
.bigPhoto {
	width: 90%;
	max-width: 500px;
	display: block;
	margin: 0 auto;
	padding-bottom: 10em;
}

// Styling for the footer
footer {
	text-align: center;
	background: $blue;
	padding: 2em;

	// More styling for the "sticky footer"
	position: absolute;
	left: 0; right: 0; bottom: 0;

	h4 {
		color: $white;
		margin: 0;
	}
}

// Styling for responsive design
@media (min-width: 480px) {
	.thumbContainer {
		.thumb {
	    	width: 45%;
	    	margin: 2.5%;
	  	}
	}
}

@media (min-width: 756px) {
 	.thumbContainer {
	 	.thumb {
	    	width: 29%;
	    	margin: 1em;
		}
	}
}