html {
  height: 100%; }

body {
  min-height: 100%;
  position: relative; }

a {
  text-decoration: none;
  display: inline-block;
  color: #FFF; }

.header {
  text-align: center;
  background-color: #3431B5;
  padding: 1em; }
  .header h1 {
    margin: 0; }

.arrow {
  display: inline;
  color: #AF3D8B;
  margin-left: 0.5em; }

#breadcrumb {
  color: #AF3D8B;
  padding: 0.5em;
  font-weight: bold;
  margin: 0.5em 0; }

.title {
  text-align: center;
  margin-top: 0; }

.thumbContainer {
  text-align: center;
  padding-bottom: 6em; }
  .thumbContainer .thumb {
    display: inline-block;
    width: 90%;
    border: 2px solid #e1d9ec;
    box-sizing: border-box;
    margin: 1em 0;
    cursor: pointer; }
    .thumbContainer .thumb .thumbImgWrap {
      overflow: hidden;
      height: 250px; }
      .thumbContainer .thumb .thumbImgWrap img {
        max-width: 400px; }
    .thumbContainer .thumb .thumbTitle {
      margin: 0;
      border-top: 2px solid #e1d9ec;
      padding: 1em;
      color: #000; }

.bigPhoto {
  width: 90%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10em; }

footer {
  text-align: center;
  background: #3431B5;
  padding: 2em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
  footer h4 {
    color: #FFF;
    margin: 0; }

@media (min-width: 480px) {
  .thumbContainer .thumb {
    width: 45%;
    margin: 2.5%; } }

@media (min-width: 756px) {
  .thumbContainer .thumb {
    width: 29%;
    margin: 1em; } }
