* {
  margin: 0; }

html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -5em; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  height: 5em; }

a {
  text-decoration: none;
  display: block; }

.header {
  text-align: center; }

.thumbContainer {
  text-align: center; }
  .thumbContainer .thumb {
    display: inline-block;
    width: 90%;
    border: 1px solid #000;
    box-sizing: border-box; }
    .thumbContainer .thumb .thumbImgWrap {
      overflow: hidden;
      height: 250px; }
      .thumbContainer .thumb .thumbImgWrap img {
        max-width: 400px; }
    .thumbContainer .thumb .thumbTitle {
      margin: 0.5em; }

.bigPhoto {
  width: 90%;
  max-width: 500px;
  display: block;
  margin: 0 auto; }

footer {
  text-align: center;
  background: blue; }

@media (min-width: 480px) {
  .thumbContainer .thumb {
    width: 48%;
    margin: 0.9%; } }

@media (min-width: 756px) {
  .thumbContainer .thumb {
    width: 30%; } }
