// Styling for all Links
a {
	text-decoration: none;
	display: inline-block;
	margin-right: 1em;
}

// Styling for the header
.header {
	text-align: center;
}

// Styling for home/albums component
.thumbContainer {
	text-align: center;

	.thumb {
		display: inline-block;
	 	width: 90%;
	 	border: 1px solid #000;
	 	box-sizing: border-box;

	 	.thumbImgWrap {
	 		overflow: hidden;
	 		height: 250px;

			img {
				max-width: 400px;
			}

		}

		.thumbTitle {
			margin: 0.5em;
		}
	}

}

// Styling for image on Photo component
.bigPhoto {
	width: 90%;
	max-width: 500px;
	display: block;
	margin: 0 auto;
}

// Styling for the footer
footer {
	text-align: center;
	background: blue;
}

// Styling for responsive design
@media (min-width: 480px) {
	.thumbContainer {
		.thumb {
	    	width: 48%;
	    	margin: 0.9%;
	  	}
	}
}

@media (min-width: 756px) {
 	.thumbContainer {
	 	.thumb {
	    	width: 30%;
		}
	}
}